.icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.country-flag {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.country-btn{
    display: flex;
    align-items: center;
}